[filter "media"]
required = true
clean = git media clean %f
smudge = git media smudge %f
[user]
name = Harrison Heck
email = harrison.heck@gmail.com
useconfigonly = true
signingkey = 798418E1C45C99E4
[push]
default = simple
[filter "hawser"]
clean = git hawser clean %f
smudge = git hawser smudge %f
required = true
[difftool]
prompt = false
[mergetool]
prompt = false
[diff]
wordRegex = \\w+ | [^[:space:]]
renameLimit = 2000
tool = Kaleidoscope
[hub]
protocol = git
[credential]
helper = osxkeychain
[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
[core]
excludesfile = ~/.config/gitignore
pager = less -+F -+X
[alias]
lg = log --color --abbrev-commit --pretty=format:'%Cred%h%Creset - %Cgreen%cd (%cr) %C(bold blue)<%an>%Creset %n%w(72, 10, 10)%s%n%Creset' --date='format:%Y-%m-%d %H:%M:%S'
up = pull
wdiff = diff --color-words
c = commit --verbose
ca = commit -a --verbose
caa = commit --amend --verbose
cm = commit -m
cam = commit -am
co = checkout
s = status
a = add
aa = add -A
p = push
cp = cherry-pick
setup-work = config user.email \"harrison.heck@linio.com\"
cza = cz -a
	pf = push --force-with-lease
[github]
user = nesl247
[ghi]
token = !security find-internet-password -a nesl247 -s github.com -l 'ghi token' -w
pager = less -FRX
[color]
ui = auto
[pager]
diff = diff-so-fancy | less --tabs=1,5 -RFX
show = diff-so-fancy | less --tabs=1,5 -RFX
[pull]
rebase = true
[rebase]
autoStash = true
[commit]
gpgsign = true
[gpg]
program = /usr/local/MacGPG2/bin/gpg
[mergetool "Kaleidoscope"]
cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
trustexitcode = true
[merge]
tool = Kaleidoscope
[difftool "Kaleidoscope"]
cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[protocol]
version = 2
[diff "ansible-vault"]
	textconv = ansible-vault view
