[user]
name = Alexander Kim
useConfigOnly = false
signingkey = DCDEA94D12589CA9AE306127798418E1C45C99E4
email = alex@kim.family
[push]
default = current
[difftool]
prompt = false
[mergetool]
prompt = false
[diff]
wordRegex = \\w+ | [^[:space:]]
renameLimit = 2000
	external = difft
[credential]
helper = osxkeychain
[core]
excludesfile = /Users/alexander/.config/gitignore
pager = delta --dark --syntax-theme \"Monokai Extended Bright\"
editor = idea --wait -e
[alias]
lg = log --color --abbrev-commit --pretty=format:'%Cred%h%Creset - %Cgreen%cd (%cr) %C(bold blue)<%an>%Creset %n%w(72, 10, 10)%s%n%Creset' --date='format:%Y-%m-%d %H:%M:%S'
up = pull
c = commit --verbose
ca = commit -a --verbose
caa = commit --amend --verbose
co = checkout
s = status
a = add
aa = add -A
p = push
cp = cherry-pick
pf = push --force-with-lease
sync = delete-merged-branches --effort=3
[github]
user = nesl247
[color]
ui = auto
[pull]
rebase = true
[rebase]
autoStash = true
[commit]
gpgsign = true
[gpg]
program = /usr/local/MacGPG2/bin/gpg2
[protocol]
version = 2
[url "git@github.com:"]
insteadOf = https://github.com/
[init]
defaultBranch = main
